$white: #F7F7F7;
$beige: #F0E8DD;
$light-black: #353B48;
$dark-black: #212121;
$red: #853132;


$dark_grey: #F4F4F4;
$light_grey: #F9F9F9;
$black: #333333;
$dark: #00205B;
$light:#283593;
$gold: #C1AF92;


