.avatar-profile {
  img {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    width: 7.5%;
    position: absolute;
    bottom: 40px;
    left: 40px;
    opacity: 0.9;
  }
}

.avatar-info {
  p.name  {
    font-weight: 600;
    position: absolute;
    bottom: 80px;
    left: 135px;
    font-size: 16px;
    color: $light_grey;
    opacity: 0.85;
  }
  p.expertise {
    position: absolute;
    bottom: 60px;
    left: 135px;
    font-size: 14px;
    font-weight: 300;
    color: $light_grey;
    opacity: 0.85;
  }
  p.more-info a{
    position: absolute;
    bottom: 45px;
    left: 135px;
    font-size: 12px;
    font-weight: 600;
    color: $light_grey;
    opacity: 0.85;
  }
}

@media (max-width: 1275px) {
  .banner-welcome {
    margin:8% 2.5% 0 2.5%;
  }

  .about-me {
    z-index: 1;
  }

  .avatar-profile {
    img {
      bottom: 35px;
    }
  }

  .avatar-info {
    z-index: 2;
    p.name  {
      bottom: 70px;
      left: 135px;
    }
    p.expertise {
      bottom: 50px;
      left: 135px;
    }
    p.more-info a{
      bottom: 35px;
      left: 135px;
    }
  }
}


@media (max-width: 1249px) {

  .avatar-profile {
    img {
      bottom: -90px;
      left: 0px;
      width: 70px;
    }
  }

  .avatar-info {
    p.name  {
      bottom: -55px;
      left: 90px;
      color: $black;
    }
    p.expertise {
      bottom: -75px;
      left: 90px;
      color: $black;
    }
    p.more-info a{
      bottom: -85px;
      left: 90px;
      color: $black;
    }
  }
}



