.banner-welcome {
  position: relative;
  margin:3.5% 2.5% 0 2.5%;
  heigh: 100vh;
  video {
    width:100%;
  }

  .about-me {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(-225deg, rgba(30,30,30,0.3) 30%, rgba(46,46,46,0.5) 80%);

    background: rgba(0, 0, 0, 0.65);

    display: flex;
    flex-direction: column;

    p.introduce {
      font-weight: 700;
      font-size: 15px;
      color: $light_grey;
      margin: 70px 0 15px 25%;
      letter-spacing: 1.25px;
      border-bottom: 2px solid $light_grey;
      width: 45%;
    }
    h1 {
      font-size: 65px;
      color: $light_grey;
      line-height: 75px;
      margin: 5px 40px;
      span {
        font-size: 45px;
      }
      span.small {
        font-size: 45px;
        font-weight: 300;
        color: $light_grey;
      }
    }
    p.summary {
      font-size: 20px;
      line-height: 35px;
      color: $light_grey;
      margin: 20px 40px;
      span {
        border-bottom:1px solid #fff;
        padding-bottom: 2px;
      }
    }
    a{
      text-align: center;
    }
    i.down-arrow {
      margin-top: 20px;
      border: 2px solid $light_grey;
      border-radius: 50%;
      padding: 10px;
      color: $light_grey;
      font-size: 20px;
      -webkit-transition: all 300ms;
      -moz-transition: all 300ms;
      -ms-transition: all 300ms;
      -o-transition: all 300ms;
      transition: all 300ms;
      &:hover {
        color: $gold;
        font-size: 21px;
      }
    }
  }
}


.banner-cover1 {
  background-image: url("../images/note_bg.jpg");
  height:100vh;
}

.banner-gold {
  background-color: $gold;
}

@media (max-width: 1425px) {
  .banner-welcome {
    margin:4.5% 2.5% 0 2.5%;
  }
}

@media (max-width: 1375px) {
  .banner-welcome {
    margin:5.5% 2.5% 0 2.5%;
  }
}

@media (max-width: 1325px) {
  .banner-welcome {
    margin:6.5% 2.5% 0 2.5%;
  }
}

@media (max-width: 1275px) {
  .banner-welcome {
    margin:8% 2.5% 0 2.5%;
  }
}

@media (max-width: 1249px) {

  .banner-welcome {
    margin:5% 2.5% 0 2.5%;
    .about-me h1 {
      font-size: 55px;
      line-height: 60px;
      span {
        font-size: 35px;
      }
      span.small {
        font-size: 35px;
      }
    }
    .about-me p.introduce {
      margin: 60px 0 15px 25%;
    }
    .about-me i.down-arrow {
      margin-top: 10px;
    }
  }
}

@media (max-width: 1157px) {
 .banner-welcome {
  margin: 9% 2.5% 0 2.5%;

  .about-me p.introduce {
    margin: 40px 0 15px 25%;
  }
}
}

@media (max-width: 1100px) {

  .banner-welcome {
    margin: 13.5% 2.5% 0 2.5%;
    video {
      display: none;
    }
    .about-me {
      position: static;
      background-image: linear-gradient(-225deg, rgba(30,30,30,0.3) 30%, rgba(46,46,46,0.5) 80%);
      background-image: url('../images/explore.jpg');
      background-size: cover !important;
      width: 100%;
      p.introduce {
        margin: 70px 0 0px 25%;
      }
      h1 {
       font-size: 50px;
       line-height: 55px;
       span {
        font-size: 30px;
      }
      span.small {
        font-size: 30px;
      }

    }
  }
  .eat-place {
    margin-top: 30px;
  }
}
}

@media (max-width: 1042px) {
  .banner-welcome {
    margin: 14% 2.5% 0 2.5%;
    video {
      display: none;
    }
    .about-me {
      padding: 15px;
      h1 {
        font-size: 45px;
        line-height: 50px;
        span {
          font-size:30px;
        }
        span.small {
          font-size: 30px;
        }
      }
    }
    .about-me p.summary {
      margin-top: 10px;
      font-size: 17px;
      line-height: 27.5px;
    }
    .eat-place {
      margin-top: 40px;
    }
  }
}

@media (max-width: 990px) {
  .banner-welcome {
    margin:13.55% 2.5% 0 2.5%;
    .about-me {
      padding: 15px;
      h1 {
        font-size: 40px;
        line-height: 45px;
        span {
          font-size: 25px;
        }
      }
    }
  }
}

@media screen and (min-width: 0px) and (max-width: 1001px) {
  .banner-welcome {
    margin:0% 2.5% 0 2.5%;
    .about-me {
      h1 {
        font-size: 55px;
        line-height: 55px;
        span {
          font-size: 30px;
        }
      }
    }
  }
}

@media (max-width: 813px) {
  .banner-welcome {
    .about-me {
      h1 {
        font-size: 40px;
        line-height: 45px;
        span {
          font-size: 25px;
        }
        span.small {
          font-size: 25px;
        }
      }
    }
  }
}

@media (max-width: 631px) {
  .banner-welcome {
    .about-me {
      .summary br {
        display: none;
      }
      h1 {
        font-size: 35px;
        line-height: 40px;
        margin: 5px 10px;

        span {
          font-size: 20px;
        }
        span.small {
          font-size: 20px;
        }
      }
      p.summary {
        line-height: 25px;
      }
      .eat-place {
        margin-top: 20px;
      }
    }
  }
}


@media (max-width: 493px) {
  .banner-welcome {
    .about-me {
      h1 {
        font-size: 35px;
        line-height: 45px;
        span {
          font-size: 20px;
        }
        span.small {
          font-size: 20px;
        }
      }
      p.summary {
        font-size: 17px;
        line-height: 25px;
      }
    }
  }
}
