.content-cards-container {
  margin: 50px 0;
}

.content-card {
  margin: 0 auto;
  max-width: 80%;
  display: flex;
  height: 266.67px;
  padding: 1px 0;

  @media (max-width: 848px) {
    flex-direction: column;
    height: 100%;
  }
}
.detail-card-project {
  padding: 0 40px;
  width: 100%;

  @media (max-width: 848px) {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 30px 40px;
  }

  @media (max-width: 500px) {
    padding: 20px 10px 10px 0;
  }

  p.brand-name {
    font-weight: 600;
    color: $gold;
    font-size: 20px;
    opacity: 0.85;

    @media (max-width: 500px) {
      font-size: 15px;
      padding: 0 10px;
    }
  }
  p.project-description {
    padding: 20px 0;
    color: $gold;
    opacity: 0.7;

    @media (max-width: 848px) {
      padding: 0 20px;
    }
  }
  a.more-button {
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    font-weight: 600;
    display: block;
    border: solid 1px $gold;
    width: 120px;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    color: $gold;
    opacity: 0.7;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -ms-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
    &:hover {
      color: $white;
      border: solid 1px $white;
    }
  }
}

.order-2 {
  order: 2;
}

.image-card-project {
  padding: 0 25px;
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $white;

  @media (max-width: 848px) {
    padding: 45px 25px;
    flex: 0 0 100%;
  }
  .black-border{
    box-shadow: 0 1px 2px rgba(0,0,0,0.07);
    padding: 10px;
    position: relative;
    img {
      min-width: 350px;
      width: 100%;

      @media (max-width: 500px) {
        min-width: 320px;
      }
    }
    a.img-card-link {
      background-color: $black;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0.4;
      margin: 10px;
      -webkit-transition: all 500ms;
      -moz-transition: all 500ms;
      -ms-transition: all 500ms;
      -o-transition: all 500ms;
      transition: all 500ms;
      &:hover {
        opacity: 0.1;
      }
    }
    p.date-project {
     position: absolute;
     font-size: 12px;
     top: 175px;
     display: block;
     background-color: $white;
     padding: 10px 20px;
     color: $dark-black;
     font-weight: 400;
     z-index: 2;
     @media (max-width: 500px) {
      top: 156px;
    }
  }
}
}

.content-card-project {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  flex: 0 0 50%;
  background-color: $dark-black;

  @media (max-width: 848px) {
    margin-bottom: 20px
  }
}
