body {
  height: 100%;
  position: relative;
  margin: 0;
  padding: 0;
  left: 0;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

// Wrappers
.full-wrapper {
  display: flex;
  height: 100%;

  .wrapper-25 {
    flex: 0 0 25%;
    height: 100%;

    @media (max-width: 1118px) {
      display: none;
    }
  }

  .wrapper-50 {
    flex: 0 0 75%;
    height: 100%;
  }

  .wrapper-75 {
    flex: 0 0 75%;
    height: 100%;

    @media (max-width: 1118px) {
      flex: 0 0 100%;
    }
  }
}


