body {
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 90%;
}

.wrapper {
  width: 100%;
  position: relative;
  background-color: $light_grey;
}

.wrapper-left {
  position: absolute;
  left: 0px;
  width: 25%;
}

.wrapper-right {
  position: absolute;
  right: 0;
  width: 75%;
  height: 100vh;
}

.menu > ul > li > a{
  color: black;
}

.shadow {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.05);

  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  transition: box-shadow .25s;
}

@media screen and (min-width: 0px) and (max-width: 1001px) {
  .banner-cover1 {
    display: none;
    .main-nav {
      display: none;
    }
  }
  .wrapper-right {
    width: 100%;
  }
}


